<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <img class="center" src="../../../assets/taxi.png" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label class="blanco" position="floating"
          >Nombre completo</ion-label>
        <ion-input [(ngModel)]="usuario.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Email</ion-label>
        <ion-input [(ngModel)]="usuario.email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Telefono</ion-label>
        <ion-input [(ngModel)]="usuario.telefono" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Clave</ion-label>
        <ion-input [(ngModel)]="usuario.contra" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Repetir clave</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button expand="block" (click)="obtenerFoto()">Subir foto</ion-button>
      </ion-item>
      <img [src]="imagenSeleccionada?.webPath">


        <ion-item class="select" >
          <ion-select [(ngModel)]="usuario.sede" placeholder="Sede">
            <ion-select-option value="Plaza Norte">Plaza Norte</ion-select-option>
            <ion-select-option value="San Bernardo">San Bernardo</ion-select-option>
            <ion-select-option value="Puente Alto">Puente Alto</ion-select-option>
          </ion-select>
        </ion-item>

      <ion-button (click)="pasarDatos()" expand="block"
        >Registrarse</ion-button
      >
      <div style="text-align: center">

        <p class="p2">Al hacer clic en Registrarse, acepta nuestros <a class="quitarEstilo">Términos</a> y <a class="quitarEstilo">Política de privacidad.</a></p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
