<ion-header>
  <ion-toolbar>
    <ion-title>listaVehiculo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Vehiculos registrados </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Audi RX300</h2>
        <h3>CL45 644</h3>
        <h3>4 asientos</h3>
      </ion-label>
      <ion-button color="danger">X</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Audi RX320</h2>
        <h3>SD45 423</h3>
        <h3>4 asientos</h3>
      </ion-label>
      <ion-button color="danger">X</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
