<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card>
    <img
      src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2016/09/569465-whatsapp-que-tus-contactos-ponen-rana-perfil.jpg?itok=tpvHWpeZ"
    />
    <ion-card-header>
      <ion-text color="dark">
        <p class="blanco">Nombre: {{us}}</p>
      </ion-text>
      <ion-text color="dark">
        <p class="blanco">Email: juan@gmail.com</p>
      </ion-text>
      <ion-text color="dark">
        <p class="blanco">Telefono: 32324234</p>
      </ion-text>
      <ion-text color="dark">
        <p class="blanco">Sede: Plaza Norte</p>
      </ion-text>
      <ion-button
        [routerLink]="['/modificar-perfil']"
        size="default"
        expand="block"
        >Modificar perfil</ion-button
      >
      <a [routerLink]="['/lista-vehiculo']">ver vehiculo</a>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle
        >¿Quieres ser un conductor?
      </ion-card-subtitle>
      <ion-card-title>¡Registra tu auto aquí!</ion-card-title>
      <ion-button
      [routerLink]="['/registro-vehiculo']"
      expand="block"
      >Agregar vehiculo</ion-button
    >
    </ion-card-header>

    
  </ion-card>
</ion-content>
