<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2016/09/569465-whatsapp-que-tus-contactos-ponen-rana-perfil.jpg?itok=tpvHWpeZ"
    />
    <ion-card-header>
      <ion-text color="dark">
        <h3>Nombre: {{us}}</h3>
      </ion-text>
      <ion-text color="dark">
        <h3>Email: juan@gmail.com</h3>
      </ion-text>
      <ion-text color="dark">
        <h3>Telefono: 32324234</h3>
      </ion-text>
      <ion-text color="dark">
        <h3>Sede: Plaza Norte</h3>
      </ion-text>
      <ion-button
        [routerLink]="['/lista-vehiculo']"
        size="default"
        expand="full"
        color="tertiary"
        >Modificar perfil</ion-button
      >
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle
        >¿Quieres ser un conductor voluntario?
      </ion-card-subtitle>
      <ion-card-title>¡Registra tu auto aquí!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button
      [routerLink]="['/registro-vehiculo']"
      size="default"
      expand="full"
      color="tertiary"
      >Agregar vehiculo</ion-button
    >
  </ion-card>
</ion-content>
