<ion-header>
  <ion-toolbar>
    <ion-title>registroVehiculo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Registra tu auto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label class="blanco" position="floating">Patente</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Modelo</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Marca</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="blanco" position="floating">Año</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Color</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Numero de asientos</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Adjuntar documentos</ion-label>
        <ion-input type="photo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Foto vehiculo</ion-label>
        <ion-input type="photo"></ion-input>
      </ion-item>


      <ion-button [routerLink]="['/pantalla-principal']" expand="block">Registrar</ion-button>
      <p class="p2">Se validaran los datos dentro de 3 dias habiles. Para más información <a class="quitarEstilo" [routerLink]="['/preguntas-frecuentes']">Ingresa aquí.</a> </p>
    </ion-card-content>
  </ion-card>


</ion-content>