$blanco: #b2b2b2;

ion-list {
    margin-top: 20px;
}

ion-input {
    color: $blanco;
}



ion-button {
    margin-top: 20px;
    margin-bottom: 10px;
    --color: #fffeff;
    --background: #4f2e7f;

    --background-hover-opacity: 20%;

}

ion-card,
ion-card-content {
    --background: #121212;
}


ion-item {
    --background: ;
}

ion-card-subtitle,
ion-card-title {
    color: #e8bffd;
    font-size: 20px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    clip-path: circle();
    height: 150px;
    width: 150px;
}
.titulo {
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
}

.blanco {
    color: $blanco;
}

.fondo {
    --background: #202020;
}


p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.center {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quitarEstilo {
    text-decoration: none;
    font-weight: bold;
    color: #e8bffd;
}

.p2 {
    font-size: 13px;
    text-align: center;
}

.footer {
    padding: 24px 16px;
    height: 10vh;
    background-color: #121212;
}

h3 {
    text-align: center;
    color: #e8bffd;
}