<ion-header>
  <ion-toolbar>
    <ion-title>viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <h4 class="blanco">Elige la direccion donde quieras ir para buscar autos disponibles</h4>
  <ion-searchbar></ion-searchbar>
  <div class="card">
  <ion-list>
    <ion-list-header> Vehiculos disponibles </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h1>Juan Perez</h1>
        <h2>Audi RX300</h2>
        <h3>CL45 644</h3>
        <h3>4 asientos disponibles</h3>
      </ion-label>
      <ion-button color="success">Tomar auto</ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h1>Juan Carlos</h1>
        <h2>Audi RX320</h2>
        <h3>SD45 423</h3>
        <h3>1 asiento disponible</h3>
      </ion-label>
      <ion-button color="success">Tomar auto</ion-button>
    </ion-item>
  </ion-list>
</div>
</ion-content>
