<ion-header>
  <ion-toolbar>
    <ion-title>menuInicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img
    id="foto-inicio"
    src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_956,h_537/v1566972723/assets/8c/f777bf-ad1a-44f5-9b09-e42aad298e51/original/DPBasics.jpg"
  ></ion-img>

  <h1>Taxi Duoc</h1>
  <p>los mejores de chilito</p>
  <ion-button
    [routerLink]="['/login']"
    expand="block"
    size="default"
    color="tertiary"
    >Conectarse</ion-button
  >
  <ion-button
    [routerLink]="['/registro']"
    expand="block"
    size="default"
    color="tertiary"
    >Registrarse</ion-button
  >
</ion-content>
