<ion-header>
  <ion-toolbar>
    <ion-title>menuInicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="foto-inicio" src="../../../assets/fondo.png"></ion-img>

  <h1>Taxi Duoc</h1>
  <p>los mejores de chilito</p>
  <ion-button
    [routerLink]="['/login']"
    expand="block"
    size="default"
    color="tertiary"
    >Conectarse</ion-button
  >
  <ion-button
    [routerLink]="['/registro']"
    expand="block"
    size="default"
    color="tertiary"
    >Registrarse</ion-button
  >
</ion-content>
