<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <img class="center" src="../../../assets/taxi.png" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresa a tu cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label class="blanco" position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="blanco" position="floating">Clave</ion-label>
        <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
      </ion-item>
      <ion-button expand="block"  (click)="pasarDatos()"
        >Conectarse</ion-button
      >

      <div style="text-align: center">
        <p>O</p>
        <h6>¿No tienes una cuenta?</h6>
        <a [routerLink]="['/registro']" class="quitarEstilo" href=""
          >Registrate</a
        >
        <hr class="hr">
        <a [routerLink]="['/contrasena-olvidada']" class="quitarEstilo" href=""
          >¿Olvidaste tu clave?</a
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
