<ion-header>
  <ion-toolbar>
    <ion-title>pantallaPrincipal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/mapa.jpg"></ion-img>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="schedule">
        <ion-icon name="car-sport-outline"></ion-icon>
        <ion-label>Viajar</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/perfil']" tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
