

ion-card,
ion-card-content {
    --background: #121212;
}


ion-item {
    --background: ;
}

.fondo {
    --background: #202020;
}

.blanco {
    color: #b2b2b2;
}

ion-input {
    color: #b2b2b2;
  }

.select {
    background: #121212;
    color: #b2b2b2;
}

ion-button {
    margin-top: 20px;
    margin-bottom: 10px;
    --color: #fffeff;
    --background: #4f2e7f;

    --background-hover-opacity: 20%;

}
